venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/
pip-wheel-metadata/

Pipfile
Pipfile.lock
poetry.lock

*.log
*.sqlite3
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

*.env
.env.*
